#rightColumn {
    float: right;
    margin: 2%;
}
#leftColumn {
    float: left;
    margin: 2%;
}
#centerColumn {
    float: right;
    margin-right: 10%;
}
#myimage {
    float: left;
    margin-left: 20%;
}